<h1>Contact</h1>

<p class="intro">To book a room or for general contact, please complete the form.</p>
      
<hr>

<form id="contact-form" method="post" action="<%= url '/contact' %>">
  <div class="form-row">
    <label for="cname" class="form-label">Name</label>
    <input id="cname" name="name" minlength="2" type="text" required />
  </div>
  <div class="form-row">
    <label for="cemail" class="form-label">Email Address</label>
    <input id="cemail" type="email" name="email" required />
  </div>
  <div class="form-row">
    <label for="cphone" class="form-label">Phone Number</label>
    <input id="cphone" type="text" name="phone" required />
  </div>
  <div class="form-row">
    <label for="cmessage" class="form-label">Message</label>
    <textarea id="cmessage" name="message" required></textarea>
  </div>
  <div class="form-row">
    <input type="submit" value="Submit" name="submit" class="submit-button" />
  </div>
  
</form>
