<h1>FAQ</h1>

<hr>

<h3>I'm interested in renting one of your rooms. What do I need to do?</h3>
<p>First, contact us to schedule a facility/room tour. To secure a room, you must complete our lease agreement, submit the first month's rent, and a $200 security deposit. We will give you one (1) copy of your room key, and a personalized entry code to the facility.</p>

<h3>What is the best way to contact you? </h3>
<p>Feel free to email us directly at <a href="mailto:<%= settings.contact_email %>"><%= settings.contact_email %></a>, or fill out a <a href="<%= url '/contact' %>">contact form</a>. You can also leave a us voicemail at (805) 235-3731.</p>

<h3>How much is a room?</h3>
<p>Rooms range from $400 to $475 a month</p>

<h3>What are the facility hours?  When can I use my room? </h3>
<p>Monthly lockouts are available 24 hours per day, 7 days a week. However, your room cannot serve as your residence. Contact us for hourly room availability. </p>

<h3>Is there a deposit?</h3>
<p>Yes. We require a $200 deposit before you move in.</p>

<h3>Do you allow the sharing of rooms?</h3>
<p>Yes. Many of our rooms are shared by more than one band.</p>

<h3>Is our equipment covered by The Sauce Pot? </h3>
<p>No. You must have your own insurance if you want your equipment to be covered.</p>

<h3>Are there any limitation as to when I can practice?</h3>
<p>None. We are open 7 days a week, 24 hours a day.</p>

<h3>Can I live in the studio?</h3>
<p>No. Under no condition can anyone live in the studio. If anyone is found living in their studio they would be immediately evicted. </p>

<h3>My band just got signed, we are going on a worldwide tour, and we don’t need the room anymore. What do we need to do?</h3>
<p>We require a 30-day written notice of your intent to vacate the room. You may contact us through <a href="mailto:<%= settings.contact_email %>">email</a>, or submit a letter to the Saucepot office (email is preferred). Once you're moved out, The Sauce Pot will conduct a final walkthrough to inspect the condition of the room. Barring any exceptional damage (other than normal wear and tear), we will return your security deposit to you.</p>

<h3>What happens if we have to leave our room without a 30-day notice?</h3>
<p>Unfortunately, you forfeit your security deposit.</p>
