  <p class="intro">Tired of hater neighbors and police ruining your jams? So are we! That's why we built <strong>The&nbsp;Sauce&nbsp;Pot</strong>, a secure practice studio for bands, musicians, and artists to rent by the room.</p>
<hr>
  <h2>Locations</h2>


<div class="col-wrap">
<%
=begin %>
  <div class="col50">
    <h3>San Luis Obispo #1</h3>
    <p>245 Tank Farm Road, Unit N<br />
      San Luis Obispo, CA 93401
    </p>
    <p><a href="https://www.google.com/maps/place/245+Tank+Farm+Rd,+San+Luis+Obispo,+CA+93401/@35.246459,-120.6657703,17z/data=!3m1!4b1!4m2!3m1!1s0x80ecf72aaadd2561:0x47561b1033f5cdcc" target="_blank">View Map</a><br />
    <a href="<%= url '/locations/#slo1' %>">View Layout</a></p>
  </div>

  <div class="col50">
    <h3>San Luis Obispo #2</h3>
    <p>245 Tank Farm Road, Unit L<br />
      San Luis Obispo, CA 93401
    </p>
    <p><a href="https://www.google.com/maps/place/245+Tank+Farm+Rd,+San+Luis+Obispo,+CA+93401/@35.246459,-120.6657703,17z/data=!3m1!4b1!4m2!3m1!1s0x80ecf72aaadd2561:0x47561b1033f5cdcc" target="_blank">View Map</a><br />
    <a href="<%= url '/locations/#slo2' %>">View Layout</a></p>
  </div>

  <div class="clear"></div>
<%
=end %>
  <div class="col50">
    <h3>San Luis Obispo <%# #3 %></h3>
    <p>245 Tank Farm Road, Unit K<br />
      San Luis Obispo, CA 93401
    </p>
    <p><a href="https://www.google.com/maps/place/245+Tank+Farm+Rd,+San+Luis+Obispo,+CA+93401/@35.246459,-120.6657703,17z/data=!3m1!4b1!4m2!3m1!1s0x80ecf72aaadd2561:0x47561b1033f5cdcc" target="_blank">View Map</a><br />
    <a href="<%= url '/locations/#slo3' %>">View Layout</a></p>
  </div>
</div>
