
<h2>Sauce Pot Recording Studio Rates</h2>

<h3>General Recording</h3>

<p>
Sliding Block Rates<br>
3 hours - $175<br>
4 hours - $200<br>
5 hours - $240<br>
6 hours - $275<br>
7 hours - $310<br>
8 hours - $340<br>
9 hours - $370
</p>

<h4>Lockout Day Session (10 Hours) - $400</h4>
<ul>
  <li>Leave your equipment in the studio with all recording gear settings left untouched</li>
  <li>Discounts for multiple lockout sessions</li>
</ul>

<p>
Reduced rates for Sauce Pot​ members<br>
1 hour free for setup and breakdown (30mins before and after)
</p>

<h3>Mastering</h3>

<p>
Per track - $65<br>
- Discounts for Eps(5 track) and full LP(8 track) albums<br><br>

DDP file creation, disc image for CD manufacture - $75
</p>

<h3>Mixing</h3>

<ul>
  <li>Mixing is on a per track basis, Inquire for rates</li>
  <li>Discounts for EPs and full LP albums</li>
</ul>

<h3>Hourly Rehearsal Rentals</h3>

<h4>Hourly Rehearsal Room - $15</h4>

<ul>
  <li>1 hour free for setup and breakdown (30mins before and after)</li>
  <li>Comes with Small PA system w/ recording capabilities</li>
</ul>

<h4>Recording studio live room rehearsal space - $40</h4>

<ul>
  <li>1 hour free for setup and breakdown (30mins before and after)</li>
  <li>Access to live room only (No access to control room recording or monitoring gear)</li>
  <li>Comes with medium sized PA system w/ recording capabilities</li>
</ul>

<h3>Payment</h3>
<ul>
  <li>We accept cash, check, paypal, Square Cash or Venmo</li>
  <li>$100 Deposit on sessions over 4 hours</li>
  <li>$100 cancellation fee. Any cancellation made in less than 4 days of the scheduled sessions shall be charged 100 dollars per day booked</li>
  <li>For mixing mastering we require a deposit of half the total amount to begin each full CD or EP</li>
</ul>

<hr>

<h2>Equipment List</h2>

<h3>Microphones</h3>
<pre>
Shure SM57 (3)
Shure SM58 (9)
Rode K2
AKG 214
AKG 414
Audio Technica AT825
Oktava ML-52-02
Advanced Audio CM87
Sennheiser 906
Sennheiser 421
Sterling ST59 (2)
Shure Beta 52A
Shure Beta 87
Shure PG56 (3)
Shure PG81 (2)
Zoom H5
Oktava MK-012-01 (2)
Behringer B-1
Shure SM58
Shure PE15H
Audio Technica 4033a (2)
Samson R11
AKG C1000
Nueman U87
SE Electronics SE3 (2)
Audix I-5
Audix D-4
Audix D-2 (2)
Audix D1
</pre>

<br><br>

<h3>Studio Equipment</h3>
<pre>
RME Fireface 800
Seventh Circle Modular Mic Preamp
Universal Audio Twinfity 710
Focusrite OctoPre MkII
Focusrite Saffire Pro 40
Avalon Vt 737sp
Behringer P16
Alesis 3630
dbx 160x
Lexicon MX400
Samson C-Control
PreSonus Blue Tube
Livewire Solutions Direct Box
Radial Engineering PRO D2 Stereo Direct Box
Little Labs Red Eye 3D Phantom
Roland DS-7 BI Amp Monitors (2)
Bang &amp; Ofulsen Beovox S75 Studio Monitors (2)
dbx 260 Drive Rack
QSC RMX 1480 Power Amplifier
Ibanez Analog Delay AD202
Samson Servo260, 130 watt Stereo Studio Amplifier
Sennheiser 280 Studio Headphones (5)
Tascam TH-200X
RME Octa Mic
Focusrite ISA 428 with Digital Output Card
Sennheiser 270 Studio Headphones (4)
</pre>
